.col{
    padding: 0%;
}

.libro{
    max-width: 888px;
    margin-left: auto;
    margin-right: auto;
}

.papel{
    background-image: url(../img/papel.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 570px;
    max-width: 444px;
    border-style: solid;
    border-width: 1px;
    border-color: #b9974e;
}

.tapa{
    background-color: #4d1e10;
    min-height: 570px;
    max-width: 444px;
    border-style: solid;
    border-width: 1px;
    border-color: #b9974e;
}

.pagina{
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 500px;
    width: 357px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#p0{
    background-image: url(../img/p0.png);
}

#p1{
    background-image: url(../img/p1.png);
}
#p2{
    background-image: url(../img/p2.png);
}
#p3{
    background-image: url(../img/p3.png);
}
#p4{
    background-image: url(../img/p4.png);
}
#p5{
    background-image: url(../img/p5.png);
}

#BTconfirmar{
    background-image: url(../img/confirmar.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 35px;
}